@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&family=Julius+Sans+One&family=Junge&family=Montserrat:wght@300&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #fff4e9;
}

img{
    width: 100%;
}

/* Header */

.encabezado{
    background-color: #eac9c1;
}

.logo{
    width: 10rem;
    padding-left: 1rem;
    margin-left: 1rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
}

.links{
    color: black;
    text-decoration: none;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
}

.listas{
    list-style-type: none;
    display: flex;
    padding: 2rem;
    padding-bottom: 1rem;
    margin-bottom: 0;
    gap: 1rem;
}

/* Main */

.cta{
    background-color: #d3ab9e;
    padding: 1rem;
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
}
.cta h2{
    font-size: 1rem;
    letter-spacing: 0.7rem;
}

.compra-ahora{
    width: 150vh;
}

.fotos{
    height: 80vh;
}

/* Section */


.catalogo{
    text-align: center;
    padding: 5rem 7rem;
    
}

.pd{
    display: inline-block;
    padding: 0.5rem 2rem;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    font-family: 'Junge', serif;
}

.producto{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
        "p1 p2 p3 p4"
        "precio1 precio2 precio3 precio4"
        "nombre1 nombre2 nombre3 nombre4";
    gap: 1.5rem;
    color: white;
    font-family: 'Junge', serif;
}

.p1{
    grid-area: p1;
}
.precio1{
    grid-area: precio1;
}
.nombre1{
    grid-area: nombre1;
}
.p2{
    grid-area: p2;
}
.precio2{
    grid-area: precio2;
}
.nombre2{
    grid-area: nombre2;
}
.p3{
    grid-area: p3;
}
.precio3{
    grid-area: precio3;
}
.nombre3{
    grid-area: nombre3;
}
.p4{
    grid-area: p4;
}
.precio4{
    grid-area: precio4;
}
.nombre4{
    grid-area: nombre4;
}

.producto a{
    margin-bottom: -3rem;
    background-color: #d3ab9e;
    border-radius: 10px;
    text-decoration: none;
    color: white;
    font-family: 'Junge', serif;
}
.producto p{
    padding-bottom: 3rem;
}


.vprodu{
    background-color: #d3ab9e;
    padding: 1rem;
    font-size: 15px;
    font-family: 'Junge', serif;
    border-radius: 10px;
    color: black;
    text-decoration: none;
}

/* Footer */

.footer{
    padding: 2rem 4rem;
    padding-bottom: 5rem;
    background-color: #eac9c1;
    display: flex;
    justify-content: space-between;
    font-family: 'Junge', serif;
}


.contactos h5{
    font-size: 0.7rem;
    
}
.contactos h4{
    font-size: 1rem;
}

.redes{
    margin-top: 4rem;
}
.iconos{
    color: #432818;
    margin-left: 2rem;
}

.pagos{
    height: 1rem;
    width: 3rem;
    margin-bottom: 1.5rem;
}

.medios-pago h4{
    font-size: 1rem;
}

.envio{
    height: 2rem;
    width: 4rem;
}

/* Parte de Productos */
.ctaenvios{
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: grey;
    color: aliceblue;
    text-align: center;
    font-size: 1rem;
    font-family: 'Junge', serif;
}
.product{
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: start;
    color: black;
    font-family: 'Junge', serif;
    padding-top: 2rem;
}
.product a{
    color: black;
    text-decoration: none;    
}
.listas-producto{
    font-size: 1.2rem;
    padding-top: 3rem;
    list-style-type: none;
}
.seleccion{
    display: flex;
    justify-content: space-between;
}
.seleccion-fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "fotoref1 fotoref2 fotoref3"
        "fotoref4 fotoref5 fotoref6"
        "fotoref7 fotoref8 fotoref9";
    column-gap: 5rem;
    row-gap: 10rem;
    padding-right: 3rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
}
.fotoref1{
    grid-area: fotoref1;
}
.fotoref2{
    grid-area: fotoref2;
}
.fotoref3{
    grid-area: fotoref3;
}
.fotoref4{
    grid-area: fotoref4;
}
.fotoref5{
    grid-area: fotoref5;
}
.fotoref6{
    grid-area: fotoref6;
}
.fotoref7{
    grid-area: fotoref7;
}
.fotoref8{
    grid-area: fotoref8;
}
.fotoref9{
    grid-area: fotoref9;
}

/* Parte de contacto */
.inicio-contacto{
    text-align: center;
    color: black;
    font-family: 'Junge', serif;
    padding-top: 2rem;
}

.inicio-contacto a{
    color: black;
    text-decoration: none;
}

.contacto-datos{
    display: flex;
    justify-content: space-between;
    padding: 4rem 4rem;
    font-family: 'Junge', serif;
}
.datos p{
    font-size: 1rem;
}

.datos{
    display: flex;
    justify-content: space-between;
    text-align: center;
    column-gap: 10rem;
}
.formulario{
    padding: .5rem 1rem;
}


/* Preguntas frecuentes */
.preguntas{
    padding-left: 1rem;
    padding-bottom: 1rem;
    text-align: start;
    color: black;
    font-family: 'Junge', serif;
    padding-top: 2rem;
}

.preguntas a{
    color: black;
    text-decoration: none;
}

.las-preguntas{
    padding: 3rem 3rem;
    padding-bottom: 6rem;
    font-family: 'Junge', serif;
}
/* Parte de talles */

.talles{
    text-align: center;
    color: black;
    font-family: 'Junge', serif;
    padding-top: 2rem;
}
.talles a{
    color: black;
    text-decoration: none;
}

.imagen-talle{
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;
}


@media (max-width:1100px){
    .producto{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "p1 p2"
            "precio1 precio2"
            "nombre1 nombre2"
            "p3 p4"
            "precio3 precio4"
            "nombre3 nombre4";
        gap: 1.5rem;
        row-gap: 1rem;
        padding: 3rem;
    }
    .producto img{
        width: 100%;
    }


}

@media (max-width:700px){


    .logo{
        width: 10rem;
        padding-left: 0rem;
        margin-left: 0rem;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
    }

    .fotos{
        height: 45vh;
    }

    .cta h2{
        font-size: 1.5rem;
        letter-spacing: 0rem;
    }
    
    .catalogo{
        padding: 2rem 4rem;
    }

    .pd{
        font-size: 1rem;
    }
    .producto{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: 
            "p1"
            "precio1"
            "nombre1"
            "p2"
            "precio2"
            "nombre2"
            "p3"
            "precio3"
            "nombre3"
            "p4"
            "precio4"
            "nombre4";
    }

    .footer{
        display: flex;
        flex-direction: column;
    }

    .medios-pago{
        padding-bottom: 3rem;
        
    }

}

@media(max-width:500px){
    .logo{
        width: 7rem;
        margin-left: -1rem;
    }
    .navbar{
        display: flex;
        flex-direction: column;
        max-width: 100%;
        overflow: auto;    
    }

    .listas{
        font-size: 14px;
    }
}


@media (max-width:1100px){

    .contacto-datos{
        display: flex;
        flex-direction: column;
    }
    .contacto-datos form{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formulario{
        padding-right: 70%;
    }

    .formulario-text{
        padding-right: 50%
    }
}
@media (max-width:700px){

    .datos{
        display: flex;
        flex-direction: column;
        padding-bottom: 4rem;
        row-gap: 3rem;
    }
    .formulario{
        display: flex;
        align-items: start;
        padding-right: 50%;
    }

    .formulario-text{
        align-items: start;
        padding-right: 0
    }

}
@media(max-width:500px){
   textarea{
    max-width: 120%;
   }
}