.talles{
    text-align: center;
    color: black;
    font-family: 'Junge', serif;
    padding-top: 2rem;

    a {
        color: black;
        text-decoration: none;
    }
}

.imagen-talle{
    position: relative;
    padding-left: 5rem;
    padding-right: 5rem;
    width: 100%;

    .mobile-talle{
        display: none;
        width: 100%;
    }
    .mobile-talle2{
        display: none;
        width: 100%;
    }
    .desktop-talle{
        display: block;
        width: 100%;
    }
    

    @include tablet{
        padding: 0;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 2rem;
    }

    @include mobile{
        .desktop-talle{
            display: none;
        }
        .mobile-talle{
            display: block;
            width: 100%;
            padding: 0;
        }
    }
}