@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Slab:wght@200&family=Julius+Sans+One&family=Junge&family=Lato:wght@300&family=Montserrat:wght@600&family=Roboto+Slab:wght@200&display=swap');

$colorpink: #EBCBF4;
$colorgray: #f7f7f8;
$fuenterob: 'Roboto Slab', serif;
$fuentelato: 'Lato', sans-serif;
$fuentemons: 'Montserrat', sans-serif;
$fuentejunge: 'Junge', serif;
$fuentestyles: 'Abril Fatface', cursive;
